<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  <div class="main-container">
    {{>header}}
    <h3>How to use weather app</h3>
    <ol>
      <li>Enter the name of the city you want to know the weather of.</li>
      <li>Hit the search button.</li>
    </ol>
  </div>

  {{>footer}}
</body>
</html>